
#dati_dx, #account, #consensi, #elimina{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 20px;
    border-bottom: 1px solid #9a9a9a;
}

#dati_dx div{
    display: flex;
}

#dati_dx article{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 130px;
    margin-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    border: 1px solid #9a9a9a;
}

h3{
    font-size: 15px;
    font-weight: 530;
}


#account article{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: #f5f5f5;
    justify-content: space-around;
}

#account .icone{
    flex-direction: column;
    width: 80px;       
    justify-content: center;
}

#account span{
    padding-left: 15px;
}

#consensi img{
    width: 30px;
}

.check{
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.check div{
    padding-left: 10px;
    font-size: 13px;
}

#check2{
    padding-left: 30px;
}

#elimina div{
    display: flex;
    width: 96%;
    background-color: #f5f5f5;
    height: 80px;
    padding-right: 20px;
    padding-left: 20px;

    justify-content: space-between;
    align-items: center;
}

#elimina span{
    font-size: 13px;
    padding-left: 20px;
}

#elimina button{
    cursor: pointer;
    height: 40px;
    width: 10%;
    border-radius: 10px;

    background-color: #263238;
    color: white;
}

#elimina button:hover{
    color: #263238;
    background-color: white;
}

.no-scroll{
    overflow: hidden;
}

#modal-view{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    justify-content: center;
    align-items: center;
}

#modal-view.hidden{
    display: none;
}

#boxElimina{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 23%;
    height: 180px;
    padding: 20px;
    border-radius: 10px;

    justify-content: space-around;
    align-items: center;
}

#boxElimina div{
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: space-around;
    align-items: center;
}

#boxElimina span{
    display: block;
    font-size: 14px;
}

#boxElimina button{
    cursor: pointer;
    height: 40px;
    width: 100%;

    background-color: #263238;
    color: white;
}

#boxElimina button:hover{
    height: 40px;
    width: 100%;

    color: #263238;
    background-color: white;
}

#boxElimina a{
    font-size: 13px;
    padding-top: 10px;
}

#boxElimina .scrittaElimina{
    display: block;
    color: #03821f;
    font-weight: 600;
    margin-bottom: 20px;
}

.contenitore-link{
    display: flex;
    justify-content: center;
}

.bottoneRitorno{
    background-color: #263238;
    color : white;
    padding : 10px;
    border-radius : 4px;
    text-decoration : none;
    font-weight : 600;
}