
#dati_dx, #account, #consensi, #elimina{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 20px;
    border-bottom: 1px solid #9a9a9a;
}

#dati_dx div{
    display: flex;
}

#dati_dx article{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 130px;
    margin-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    border: 1px solid #9a9a9a;
}

h3{
    font-size: 15px;
    font-weight: 530;
}


#account article{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: #f5f5f5;
    justify-content: space-around;
}

#account .icone{
    flex-direction: column;
    width: 80px;       
    justify-content: center;
}

#account span{
    padding-left: 15px;
}

#consensi img{
    width: 30px;
}

.check{
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
}

.check div{
    padding-left: 10px;
    font-size: 13px;
}

#check2{
    padding-left: 30px;
}

#elimina div{
    display: flex;
    width: 96%;
    background-color: #f5f5f5;
    height: 80px;
    padding-right: 20px;
    padding-left: 20px;

    justify-content: space-between;
    align-items: center;
}

#elimina span{
    font-size: 13px;
    padding-left: 20px;
}

#elimina button{
    cursor: pointer;
    height: 40px;
    width: 10%;
    border-radius: 10px;

    background-color: #263238;
    color: white;
}

#elimina button:hover{
    color: #263238;
    background-color: white;
}